<title>{{title}}</title>

<div id="banner">
	{{!-- <img id="grass" src="img/grass.png"/>
	<img id="sky" src="img/sky.png"/> --}}
	<div id="banner-overlay">
		<h1>{{name}}</h1>
		<div id="fade3">
			<div id="f1">{{subtitle.one}}</div>
			<div id="s1"> | </div>
			<div id="f2">{{subtitle.two}}</div>
			<div id="s2"> | </div>
			<div id="f3">{{subtitle.three}}</div>
		</div>
		<div id="triangles">
			<div id="tri1">&#x25BC;</div>
			<div id="tri2">&#x25BC;</div>
			<div id="tri3">&#x25BC;</div>

		</div>
	</div>
</div>
<div id="banner-scroll">
	<a href="#about-wrap"></a>
</div>
<div id="wrapper" >
	<nav id="nav" role="navigation">    
	    <ul class="left">
	    	<li id="logo">
	    		<div id="logo-bottom" data-letters="{{nameUpper}}">
					{{nameUpper}}
					<span id="logo-wrap">
	    				<span id="logo-top" data-letters="{{nameUpper}}">
							{{nameUpper}}
						</span>
					</span>
				</div>
	        </li>
	    </ul>
	    <ul class="right">
	    	<li>
	            <a href="#">ITEM 1</a>
	        </li>
	        <li>
	            <a href="#">ITEM 2</a>
	        </li>
	        <li>
	            <a href="#">ITEM 3</a>
	        </li>
	    </ul>
	</nav>
	<div class="inner-wrap">
		<div id="skew-blue" class="skew blue">
			<div class="container skew-rev">
				<div class="skew-blue-fill"></div>
				<h2 class="section-heading about-heading">
					<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>
					{{about.title}}
					<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>
				</h2>
				<p class="tagline">{{about.tagline}}</p>
				<div class="about-span">
					<ul class="about-details">
						{{#each about.bullets}}<li><b>> </b>{{this}}</li>{{/each}}
					</ul>
					<img src="img/headshot.jpg" alt="headshot" class="headshot"/>
					<p class="blurb">{{about.blurb}}</p>
				</div>
			</div>
		</div>
		<div class="container projects">
			<h2 class="section-heading project-heading">
				<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>
				{{projects.title}}
				<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>
			</h2>
			<div class="columns" >
			{{#each projects.projectData}}
			<div class="cell">
				<button class="project-button" data-modal="proj-{{@index}}">
					<h3>{{title}}</h3>
					<p>{{subtitle}}</p>
					<div>
						{{#each keywords}}
						<span class="pill">{{this}}</span>
						{{/each}}
					</div>
				</button>
				<img src="{{images.[0]}}" alt="test">
			</div>
			{{/each}}
			</div>
		</div>
		<div id="skew-red" class="skew red">
			<div class="container skew-rev">
				<h2 class="section-heading about-heading">
					<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>
					{{resume.title}}
					<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>
				</h2>
			</div>
			{{#with resume.resumeData}}
			<div class="container resume skew-rev">
				<h2>{{education.title}}</h2>
				{{#each education.items}}
				<h6>{{dates}}</h6>
				<h3>{{name}}</h3>
				<h4>{{major}} <span class="gpa">{{gpa}}</span></h4>
				{{#each programs}}
				<h4><a href="{{link}}">{{name}}</a></h4>
				<p>{{description}}</p>
				{{/each}}
				{{/each}}

				<h2>{{certifications.title}}</h2>
				{{#each certifications.items}}
				<h6>{{dates}}</h6>
				<h3>{{name}}</h3>
				<h4>{{description}}</h4>
				{{#if acclaimId}}
				<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="{{acclaimId}}"></div>
				{{/if}}
				{{/each}}

				<h2>{{experience.title}}</h2>
				{{#each experience.items}}
				<h6>{{dates}}</h6>
				<h3>{{name}}</h3>
				<h5>{{location}}</h5>
				<p class="job-blurb">{{description}}</p>
				{{/each}}

				<h2>{{skills.title}}</h2>
				<div class="key">
					{{#each skills.labels}}
					<div class="skill">
						{{{times level}}}
						{{name}}
					</div>
					{{/each}}
				</div>
				{{#each skills.sections}}
				<div class="skill-section">
					<h3>{{title}}</h3>
					{{#each items}}
					<div class="skill">
						{{{times level}}}
						{{skill}}
					</div>
					{{/each}}
				</div>
				{{/each}}
			</div>
			{{/with}}
		</div>

	</div>
</div>

<div id="modals">
	<div class="modal-change prev">
		<i class="fa fa-chevron-left"></i>
	</div>
	{{#each projects.projectData}}
	<div class="project-modal" id="proj-{{@index}}">
		<div class="modal-header">
			<h3>{{title}}</h3>
			<div class="pills">
				{{#each keywords}}
				<span class="pill">{{this}}</span>
				{{/each}}
			</div>
		</div>
		<div class="modal-content">
			{{#each images}}
			<div class="img-container container-{{@index}}">
				<img src="{{this}}" class="content-img img-{{@index}}"/>
			</div>
			{{/each}}
			<div class="text-info">
				<h6 class="organization">
					<span class="bold">{{organization.type}}: </span>
					<span class=>{{organization.name}}</span>
				</h6>
				{{#if teammates}}
				<h6 class="bold" >Teammates:</h6>
				<ul class="teammates">
					{{#each teammates}}
					<li><a href="{{link}}">{{name}}</a></li>
					{{/each}}
				</ul>
				{{/if}}
				<div class="links">
					{{#each links}}
					<a href="{{link}}" class="button-link">{{text}}</a>
					{{/each}}
				</div>
			</div>
			<p class="body-text">{{{bodyText}}}</p>
		</div>
		<div class="modal-footer">
			<button class="modal-close">Close</button>
		</div>
	</div>
	{{/each}}
	<div class="modal-change next">
		<i class="fa fa-chevron-right"></i>
	</div>
</div>