<title>{{title}}</title>

<div id="banner">
	<div id="banner-overlay">
		<h1>{{name}}</h1>
		<div id="fade3">
			<div id="f1">{{subtitle.one}}</div>
			<div id="s1"> | </div>
			<div id="f2">{{subtitle.two}}</div>
			<div id="s2"> | </div>
			<div id="f3">{{subtitle.three}}</div>
		</div>
		<div id="triangles">
			<div id="tri1">&#x25BC;</div>
			<div id="tri2">&#x25BC;</div>
			<div id="tri3">&#x25BC;</div>

		</div>
	</div>
</div>
<div id="banner-scroll">
	<a href="#about-wrap"></a>
</div>
<div id="main-container" class="container">
	<nav id="nav" role="navigation">    
	    <ul class="left">
	    	<li id="logo">
	    		<a id="logo-bottom" href="#">{{nameUpper}}</a>
	    		<a id="logo-top" href="#">{{nameUpper}}</a>
	        </li>
	    </ul>
	    <ul class="right">
	    	<li>
	            <a href="#">ITEM 1</a>
	        </li>
	        <li>
	            <a href="#">ITEM 2</a>
	        </li>
	        <li>
	            <a href="#">ITEM 3</a>
	        </li>
	    </ul>
	</nav>
	<div class="skew-outer background-section">
		<div id="skew-blue" class="skew-inner blue"></div>
		<div id="skew-red" class="skew-inner red"></div>
	</div>
	<div class="skew-blue-fill"></div>
	<h2 class="content-full section-heading about-heading">
		<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>
		{{about.title}}
		<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>
	</h2>
	<ul class="content left about-details">
		{{#each about.bullets}}<li><b>> </b>{{this}}</li>{{/each}}
	</ul>
	<p class="content right blurb">{{about.blurb}}</p>
	<div class="content-full" style="height:500px"></div>
</div>